body {
    background-color: #0a0e14;
    
    background-image: 
        linear-gradient(rgba(255, 107, 53, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 107, 53, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
    
    color: gray;
    font-family: Arial;
}
.site-title{
  text-align: center
}
.v_razrabotke{
  text-align: center;
}